<div>
    <div @fadeSlideInOut *ngIf="step===0">
        <em class="fa fa-spinner fa-spin fa-fw"></em>
    </div>
    <div @fadeSlideInOut class="welcome-screen" *ngIf="step===1">
        <h1>{{'home.1.1' | translate }}</h1>
        <p>{{'home.1.2' | translate }}</p>
        <p>{{'home.1.3' | translate }}</p>
        <ul style="text-align: initial;">
            <li>{{'home.1.4' | translate }}</li>
            <li>{{'home.1.5' | translate }}</li>
            <li>{{'home.1.6' | translate }}</li>
            <li>{{'home.1.7' | translate }}</li>
            <li>{{'home.1.8' | translate }}</li>
        </ul>
        <button id="start-chat-button" (click)="start()">{{'home.button' | translate }}</button>
    </div>

    <div @fadeSlideInOut class="input-screen" *ngIf="step===2">
        <h1>{{'home.2.1' | translate }}</h1>
        <p>{{'home.2.2' | translate }}</p>
        <!--<input type="number" [(ngModel)]="basicInfoPatient.birthDate" />-->
        <div class="list-options">
            <div class="list-options w-100">
                <div class="mt-2 w-100">
                    <input class="form-control w-75 d-none" id="dateOnset_{{i}}" name="dateOnset" matInput
                        placeholder="{{'home.2.1' | translate }}" [max]="maxDate" readonly [matDatepicker]="pickerOnset"
                        (click)="pickerOnset.open()" [(ngModel)]="basicInfoPatient.birthDate">
                    <span class="form-control w-75 d-inline" (click)="pickerOnset.open()"
                        style="background-color: #e9ecef;min-width: 200px;">{{basicInfoPatient.birthDate | date: 'dd MMM
                        y': '' : translate.currentLang}} </span>
                    <mat-datepicker-toggle matSuffix [for]="pickerOnset"></mat-datepicker-toggle>
                    <mat-datepicker startView="multi-year" touchUi="true" #pickerOnset></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="buttons-panel">
            <button class="mr-1 btn btn-danger" (click)="goBack()">{{'generics.Previous' | translate }}</button>
            <button class="ml-1 btn btn-dark" [disabled]="!basicInfoPatient.birthDate"
                (click)="submitAge()">{{'generics.Next' | translate }}</button>
        </div>

    </div>

    <div @fadeSlideInOut class="input-screen" *ngIf="step===3">
        <h1>{{'home.3.1' | translate }}</h1>
        <p>{{'home.3.2' | translate }}</p>
        <div class="list-options">
            <div>
                <input type="radio" name="gender" [(ngModel)]="basicInfoPatient.gender" value="male" />
                <label class="ml-1">{{'personalinfo.Male' | translate }}</label>
            </div>
            <div>
                <input type="radio" name="gender" [(ngModel)]="basicInfoPatient.gender" value="female" />
                <label class="ml-1">{{'personalinfo.Female' | translate }}</label>
            </div>
            <div>
                <input type="radio" name="gender" [(ngModel)]="basicInfoPatient.gender" value="other" />
                <label class="ml-1">{{'personalinfo.I prefer not to say' | translate }}</label>
            </div>
        </div>
        <div class="buttons-panel">
            <button class="mr-1 btn btn-danger" (click)="goBack()">{{'generics.Previous' | translate }}</button>
            <button class="ml-1 btn btn-dark" [disabled]="!basicInfoPatient.gender"
                (click)="submitGender()">{{'generics.Next' | translate }}</button>
        </div>

    </div>

    <div @fadeSlideInOut class="input-screen" *ngIf="step===4">
        <h1>{{'home.4.1' | translate }}</h1>
        <div class="form-group" *ngIf="patientInfo.patientAllergies.length>0">
            <div class="list-options">
                <div class="" *ngFor="let allergy of patientInfo.patientAllergies; let i = index">
                    {{allergy.name}}
                    <em class="fa fa-trash pointer danger ml-1" (click)="removeAlergy(i)"></em>
                </div>
            </div>
        </div>
        <p class="mb-0">{{'home.4.2' | translate }}</p>
        <div class="card p-2 border panel-add">
            <h5 for="nueva-alergia">{{'home.4.3' | translate }}</h5>
            <div class="list-options w-100">
                <div>
                    <input type="text" class="form-control" [(ngModel)]="newAlergy.name"
                        placeholder="{{'home.4.4' | translate }}" />
                    <a (click)="addAlergy()" class="mt-2 ml-1 btn btn-dark" title="add alergy"
                        href="javascript:;"><span>{{'generics.Add' | translate }}</span></a>
                </div>
            </div>

        </div>
        <div class="buttons-panel">
            <button class="mr-1 btn btn-danger" (click)="goBack()">{{'generics.Previous' | translate }}</button>
            <button class="ml-1 btn btn-dark" *ngIf="patientInfo.patientAllergies.length==0"
                (click)="skipAllergies()">{{'generics.Next' | translate }}</button>
            <button class="ml-1 btn btn-dark" *ngIf="patientInfo.patientAllergies.length>0"
                (click)="submitAllergies()">{{'generics.Next' | translate }}</button>
        </div>
    </div>
    <div @fadeSlideInOut class="input-screen" *ngIf="step===5">
        <h2>{{'home.5.1' | translate }}</h2>
        <div class="form-group" *ngIf="patientInfo.patientDiseases.length>0">
            <div class="list-options">
                <div class="" *ngFor="let disease of patientInfo.patientDiseases; let i = index">
                    {{disease.name}} - {{disease.date | date: 'MMM y': '' : translate.currentLang}}
                    <em class="fa fa-trash pointer danger ml-1" (click)="removeDisease(i)"></em>
                </div>
            </div>
        </div>
        <p class="mb-0">{{'home.5.2' | translate }}</p>
        <div class="card p-2 border panel-add">
            <h5 for="nueva-enfermedad">{{'home.5.3' | translate }}</h5>
            <div class="">
                <div class="w-100">
                    <input type="text" class="form-control" [(ngModel)]="newDisease.name"
                        placeholder="{{'home.5.5' | translate }}" />
                    <!--<input type="date" [(ngModel)]="newDisease.date" />-->
                    <div class="mt-2 w-100">
                        <label class="d-block">{{'home.5.4' | translate }}</label>
                        <input class="form-control w-75 d-none" id="dateOnset_{{i}}" name="dateOnset" matInput
                            placeholder="{{'generics.Start Date' | translate }}" [max]="maxDate" readonly [matDatepicker]="pickerOnset"
                            (click)="pickerOnset.open()" [(ngModel)]="newDisease.date">
                        <span *ngIf="newDisease.date" class="form-control w-75 d-inline" (click)="pickerOnset.open()"
                            style="background-color: #e9ecef;">{{newDisease.date | date: 'MMM y': '' :
                            translate.currentLang}} </span>
                        <mat-datepicker-toggle matSuffix [for]="pickerOnset"></mat-datepicker-toggle>
                        <mat-datepicker startView="multi-year"
                            (monthSelected)="closeDatePickerDisease($event, i, pickerOnset)" touchUi="true"
                            #pickerOnset></mat-datepicker>
                    </div>
                    <button (click)="addDisease()" [disabled]="newDisease.name.length === 0" class="mt-2 btn btn-dark"
                        title="add disease" href="javascript:;"><span>{{'generics.Add' | translate }}</span></button>
                </div>
            </div>
        </div>
        <div class="buttons-panel">
            <button class="mr-1 btn btn-danger" (click)="goBack()">{{'generics.Previous' | translate }}</button>
            <button class="ml-1 btn btn-dark" *ngIf="patientInfo.patientDiseases.length==0"
                (click)="skipDiseases()">{{'generics.Next' | translate }}</button>
            <button class="ml-1 btn btn-dark" *ngIf="patientInfo.patientDiseases.length>0"
                (click)="submitDiseases()">{{'generics.Next' | translate }}</button>
        </div>
    </div>


    <div @fadeSlideInOut class="input-screen" *ngIf="step===6">
        <h1>{{'home.6.1' | translate }}</h1>
        <div class="form-group" *ngIf="patientInfo.patientMedications.length>0">
            <div class="list-options">
                <div class="" *ngFor="let medication of patientInfo.patientMedications; let i = index">
                    {{medication.name}} - {{medication.date | date: 'MMM y': '' : translate.currentLang}}
                    <em class="fa fa-trash pointer danger ml-1" (click)="removeMedication(i)"></em>
                </div>
            </div>
        </div>
        <p class="mb-0">{{'home.6.2' | translate }}</p>
        <div class="card p-2 border panel-add">
            <h5 for="nueva-enfermedad">{{'home.6.3' | translate }}</h5>
            <div class="">
                <div class="w-100">
                    <input type="text" class="form-control" [(ngModel)]="newDrug.name"
                        placeholder="{{'home.6.5' | translate }}" />
                    <!--<input type="date" [(ngModel)]="newDrug.date" />-->
                    <div class="mt-2 w-100">
                        <label class="d-block">{{'home.6.4' | translate }}</label>
                        <input class="form-control w-75 d-none" id="dateOnset_{{i}}" name="dateOnset" matInput
                            placeholder="{{'generics.Start Date' | translate }}" [max]="maxDate" readonly
                            [matDatepicker]="pickerOnset" (click)="pickerOnset.open()" [(ngModel)]="newDrug.date">
                        <span *ngIf="newDrug.date" class="form-control w-75 d-inline" (click)="pickerOnset.open()"
                            style="background-color: #e9ecef;">{{newDrug.date | date: 'MMM y': '' :
                            translate.currentLang}} </span>
                        <mat-datepicker-toggle matSuffix [for]="pickerOnset"></mat-datepicker-toggle>
                        <mat-datepicker startView="multi-year"
                            (monthSelected)="closeDatePickerDrug($event, i, pickerOnset)" touchUi="true"
                            #pickerOnset></mat-datepicker>
                    </div>
                    <button (click)="addMedication()" [disabled]="newDrug.name.length === 0" class="ml-1 btn btn-dark"
                        title="add drug" href="javascript:;"><span>{{'generics.Add' | translate }}</span></button>
                </div>
            </div>
        </div>
        <div class="buttons-panel">
            <button class="mr-1 btn btn-danger" (click)="goBack()">{{'generics.Previous' | translate }}</button>
            <button class="ml-1 btn btn-dark" (click)="finishWizard()">{{'generics.Finish' | translate }}</button>
        </div>

    </div>
    <div class="row" @fadeSlideInOut *ngIf="step===7">
        <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="intent=='' || intent=='Question'">
            <h5 class="text-muted mt-3">{{'home.7.1' | translate }}</h5>
            <div class="chat-container">
                <div class="chat-messages">
                    <div *ngFor="let message of messages">
                        <div [ngClass]="{'user-message': message.isUser, 'response-message': !message.isUser}">
                            {{ message.text }}
                        </div>
                    </div>
                </div>
                <div *ngIf="callingOpenai">
                    <em class="fa fa-spinner fa-spin fa-fw"></em>
                </div>
                <input type="text" class="btn-chat" [(ngModel)]="message" [disabled]="callingOpenai" placeholder="{{'home.7.6' | translate }}" (keydown.enter)="sendMessage()">
                <button class="btn btn-dark btn-chat" [disabled]="callingOpenai" (click)="sendMessage()">{{'generics.Submit' | translate }}</button>
            </div>
            <p *ngIf="intent!=''" class="text-muted mt-3">Intent: {{intent}}</p>
            <p *ngIf="valueProm" class="text-muted mt-3">{{valueProm.value}}</p>

            <p *ngIf="responseEntities!=''" class="text-muted mt-3">{{'home.7.2' | translate }}: {{responseEntities}}</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="intent==''">
            <h5 class="text-muted mt-3">Ayuda</h5>
            <p>Esta es una guía para usar el bot con inteligencia artificial. Es capaz de detectar muchas cosas acciones, por ejemplo:</p>
            <ul>
                <li>Añadir datos a su registro: por ejemplo puede añadir datos médicos como sus alergias, enfermedades, fármacos, síntomas, tratamientos, o lo que desee guardar.</li>
                <li>Preguntar cosas: la inteligencia artificial le responderá de forma personalizada, teniendo en cuenta sus datos médicos</li>
                <li>Compartir tus datos</li>
                <li>Hacer un cuestionario de calidad de vida</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="loadingPosibleEntities || posibleEntities.length>0">
            <h5 class="text-muted mt-3">{{'home.7.2' | translate }}</h5>
            <span>{{'home.7.3' | translate }} <a routerLink="/events">{{'home.7.4' | translate }}</a></span>
            <div class="row" style="padding: 1rem;padding-top: 0px;" *ngIf="loadingPosibleEntities">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <em class="fa fa-spinner fa-spin fa-fw"></em>
                </div>
            </div>
            <div class="row" style="padding: 1rem;padding-top: 0px;" *ngIf="posibleEntities.length>0">
                <div *ngIf="currentEntity" class="entity-card p-2 offset-sm-3 col-sm-6">
                    <!--(swipe)="onSwipe($event)" -->
                    <div [ngClass]="{ 'left-swipe': swipeDirection === 'left', 'right-swipe': swipeDirection === 'right' }"
                        class="swipe-card" 
                        [@cardAnimation]="animationState"
                        (@cardAnimation.done)="resetAnimationState()" 
                        (swiperight)="startAnimation('slideOutLeft')"
                        (swipeleft)="startAnimation('slideOutRight')"
                        >
                        <div #panelcard class="p-2 entity"
                            [ngClass]="{'allergy': currentEntity.type === 'allergy', 'disease': currentEntity.type === 'disease', 'drug': currentEntity.type === 'drug', 'symptom': currentEntity.type === 'symptom', 'treatment': currentEntity.type === 'treatment', 'gene': currentEntity.type === 'gene'}">
                            <div>
                                <strong *ngIf="currentEntity.type=='allergy'">{{'home.Allergy' | translate }}:</strong>
                                <strong *ngIf="currentEntity.type=='disease'">{{'home.Disease' | translate }}:</strong>
                                <strong *ngIf="currentEntity.type=='drug'">{{'home.Drug' | translate }}:</strong>
                                <strong *ngIf="currentEntity.type=='symptom'">{{'home.Symptom' | translate }}:</strong>
                                <strong *ngIf="currentEntity.type=='treatment'">{{'home.Treatment' | translate }}:</strong>
                                <strong *ngIf="currentEntity.type=='gene'">{{'home.Gene' | translate }}:</strong>
                                {{ currentEntity.name }}
                            </div>
                            <div class="">
                                <label><strong>{{'generics.Date' | translate }}:</strong></label>
                                <input class="form-control w-75 d-none" id="dateOnset_{{i}}" name="dateOnset" matInput
                                    placeholder="{{'generics.Start Date' | translate }}" [max]="maxDate" readonly
                                    [matDatepicker]="pickerOnset" (click)="pickerOnset.open()"
                                    [(ngModel)]="currentEntity.date">
                                <span *ngIf="currentEntity.date!=null" class="ml-1"
                                    (click)="pickerOnset.open()">{{currentEntity.date | date: 'MMM y': '' :
                                    translate.currentLang}} </span>
                                <mat-datepicker-toggle matSuffix [for]="pickerOnset"></mat-datepicker-toggle>
                                <mat-datepicker startView="multi-year"
                                    (monthSelected)="closeDateEntity($event, i, pickerOnset)" touchUi="true"
                                    #pickerOnset></mat-datepicker>
                            </div>
                            <div class="" *ngIf="currentEntity.type=='drug'">
                                <label><strong>{{'medication.Dose mg' | translate }}:</strong></label>
                                <input class="form-control w-75" id="dose_{{i}}" name="value" matInput
                                    placeholder="Ex. 200" [(ngModel)]="currentEntity.data.value">
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <label><strong>{{'generics.notes' | translate }}:</strong></label>
                                    <textarea maxlength="150" [(ngModel)]="currentEntity.notes"
                                        placeholder="{{'seizures.Write down any details' | translate }}"
                                        class="autoajustable form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tinder--buttons">
                        <button (click)="removeEntity(currentIndex); startAnimation('slideOutRight')" class="tno"><i class="fa fa-remove"></i></button>
                        <div class="ti">{{currentIndex+1}} / {{posibleEntities.length}}</div>
                        <button (click)="addEntity(currentIndex); startAnimation('slideOutLeft');" class="tyes"><i class="fa fa-check"></i></button>
                      </div>
                    
                </div>
            </div>
        </div>
        <div class="offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-sm-12 mt-3" *ngIf="intent=='Data'">
            <div class="card card-block" *ngIf="callingTextAnalytics">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <em class="fa fa-spinner fa-spin fa-3x fa-fw"></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-block" *ngIf="!callingTextAnalytics">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--back buttom-->
                            <button class="btn btn-primary mb-3" (click)="back()"><i class="fa fa-arrow-left"></i>
                                {{'generics.Back' | translate }}</button>
                            <form action="#" class="form form-horizontal" [formGroup]="seizuresForm">
                                <div class="form-body">
                                    <div class="">
                                        <div class="">
                                            <div class="form-group">
                                                <label>{{'events.Type' | translate}}</label>
                                                {{type}}
                                                <select name="event-estructure-type" class="form-control"
                                                    formControlName="type"
                                                    [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
                                                    (keyup)="refresh.next()">
                                                    <option [ngValue]="null" disabled selected>--{{'generics.Select' | translate}}--</option>
                                                    <option value="allergy">{{'home.Allergy' | translate }}</option>
                                                    <option value="disease">{{'home.Disease' | translate }}</option>
                                                    <option value="drug">{{'home.Drug' | translate }}</option>
                                                    <option value="symptom">{{'home.Symptom' | translate }}</option>
                                                    <option value="treatment">{{'home.Treatment' | translate }}</option>
                                                    <option value="gene">{{'home.Gene' | translate }}</option>
                                                    <option value="other">{{'generics.Other' | translate }}</option>
                                                </select>
                                                <small class="form-text text-muted danger"
                                                    *ngIf="submitted && f.type.errors">{{'generics.required' |
                                                    translate }}</small>
                                                    <div *ngIf="seizuresForm.value.type=='other'" class="mt-2">
                                                        <div>
                                                            <label>Subtype:</label>
                                                            <input formControlName="subtype" type="text" class="form-control w-75" placeholder="Ex. Sport">
                                                          </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="form-group">
                                                <label>{{'generics.Name' | translate }}</label>
                                                <input type="text" class="col-5 form-control" id="numericos2"
                                                    formControlName="name"
                                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                                    name="numericos2">
                                                <small class="form-text text-muted danger"
                                                    *ngIf="submitted && f.name.errors">{{'generics.required' |
                                                    translate }}</small>
                                            </div>
                                        </div>
                                        <div class="mb-2" *ngIf="seizuresForm.value.type=='drug'">
                                            <div formGroupName="data" class="department">
                                                <label>{{'medication.Dose mg' | translate }}:</label>
                                                <input formControlName="value" type="text" class="form-control w-75" placeholder="Ex. 200">
                                              </div>
                                        </div>
                                        <div class="">
                                            <div class="form-group">
                                                <label class="mb-0">{{'generics.Date' | translate }}</label>
                                                <div class="">
                                                    <mat-form-field class="mr-sm-24" fxFlex>
                                                        <input matInput class="grey" readonly [matDatepicker]="picker"
                                                            autocomplete="off" name="date" formControlName="date">
                                                        <mat-datepicker-toggle matSuffix
                                                            [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker [startAt]="date" #picker></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="form-group">
                                                <label>{{'generics.notes' | translate }}</label>
                                                <textarea maxlength="150" name="notes" formControlName="notes"
                                                    placeholder="{{'seizures.Write down any details' | translate }}"
                                                    class="autoajustable form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 center-elements">
                            <button type="button" class="btn btn-dark" (click)="saveData();">{{'generics.SaveAndClose' |
                                translate }}</button>
                        </div>
                    </div>
                </div>
            </div> 
            
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-2" *ngIf="intent=='Take quiz'">
            <button class="btn btn-primary" (click)="back()"><i class="fa fa-arrow-left"></i>
                {{'generics.Back' | translate }}</button>
            <div id="webchat" role="main" watermark="false"></div>
            <div id="footchat" class="mt-2"></div>
        </div>
    </div>
</div>