.entity {
    border-radius: 10px;
  }
  
  .allergy {
    background-color: #ffb3b3;
  }
  
  .disease {
    background-color: #ffcc80;
  }
  
  .drug {
    background-color: #b3e0ff;
  }
  
  .symptom {
    background-color: #b3ffb3;
  }
  
  .treatment {
    background-color: #ccccff;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .small-width {
    max-width: 30rem !important;
  }